<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/forms.css">
    <link rel="stylesheet" href="/css/styles.css">
    <title>Log In</title>
</head>
<body>
    <header>
        <h1>MyDrive</h1>
        <div>
            <a href="/">Log In</a>
            <a href="/sign-up">Sign Up</a>
        </div>
    </header>
    <main>
        <form action="/" method="POST">
            <h2>Log In</h2>
            <div>
                <label for="username">Username</label>
                <input type="text" name="username" id="username" required>
            </div>
            <div>
                <label for="password">Password</label>
                <input type="password" name="password" id="password" required>
            </div>
            <button type="submit">Submit</button>
            <% if (session.messages) { %>
                <div>
                    <h2>Error:</h2>
                    <p><%= session.messages[0] %></p>
                </div>
            <% } %>
            <p>Don't have an account?</p>
            <a href="/sign-up">Sign up now!</a>
        </form>
    </main>
</body>
</html>