<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update Folder</title>
</head>
<body>
    <h1>Update Folder</h1>
    <form action="/home/folder/update/<%= folderID %>" method="POST">
        <label for="folder">New Name</label>
        <input type="text" name="folder" id="folder">
        <button type="submit">Submit</button>
    </form>
    <% if (locals.error) { %>
        <p><%= error %></p>
    <% } %>
</body>
</html>